.headerSection {
  width: 100%;
  background: #f7f7f7;
  border-bottom: 1px solid #f2f4f7;
  height: 72px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  padding: 28px 0 28px 64px;
  margin: 0 auto;
}
