.navContent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navList {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks {
  font-family: var(--font-inter), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #101828;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks:hover {
  color: #e44848;
}

.active {
  color: #e44848 !important;
}
