.details {
  padding: 48px 64px 80px 64px;
}
.contentWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  margin-top: 44px;
  width: 100%;
}

.tabContent {
  flex-basis: 631px;
  flex-shrink: 0;
}

.formWrapper {
  flex-basis: 641px;
  flex-shrink: 0;
  position: sticky;
  top: 20px;
}
