.divContainer {
  background-image: url("/home-background.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding: 0 64px;
}
.homeContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.homeTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.6;
  font-family: "Inter", sans-serif;
  color: #f7f7f7;
}
.homeDescription {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #f7f7f7;
  margin-bottom: 24px;
}

.homeButton {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background-color: #e44848;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
}
