.divContainer {
  /* background-image: url("/home-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; */

  height: 700px;
}
.homeContainer {
  background-image: url("/home-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 260px 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.homeTitle {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.6;
  font-family: "Inter", sans-serif;
  color: #f7f7f7;
}
.homeDescription {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #f7f7f7;
  margin-bottom: 24px;
}

.homeButton {
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background-color: #e44848;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
}
