@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

body {
  background: var(--background);
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  /* max-width: 1440px; */
}

button {
  background-color: var(--button);
}
button:hover {
  background-color: var(--button-hover);
}
