.container {
  margin-bottom: 60px;
}

.name {
  font-family: var(--font-inter), sans-serif;
  line-height: 32px;
  color: #101828;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 8px;
}

.stats {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.starIcon {
  fill: #ffc531;
}

.ratingWrapper,
.locationWrapper {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  display: flex;
  align-items: center;
  gap: 4px;
}

.ratingText {
  text-decoration: underline;
}

.price {
  font-family: var(--font-inter), sans-serif;
  line-height: 32px;
  color: #101828;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-bottom: 28px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 28px;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 312px;
  border-radius: 10px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageWrapper:hover .image {
  transform: scale(1.05);
}

.description {
  font-family: var(--font-inter), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  max-width: 100%;
  margin: 0;
}
